@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600&family=Exo+2:wght@700&display=swap');
@import "tailwindcss";

@layer utilities {
	.font-display {
		font-family: "Playfair Display", serif;
	}
	.font-body {
		font-family: "Inter", sans-serif;
	}
	.font-brand {
		font-family: "Exo 2", sans-serif;
	}
}
